body {
	background-color: black;
	overflow: hidden;
}

.port {
	overflow: hidden;
}

.parallax-layer {
	position: absolute;
		bottom: 0;

	height: 100%;
}

img {
	border: none;
}

.foreground {
	padding-left: 25%;
}